.buttonsSection {
  background-color: clear;    
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
  display: block;
  position: relative;
}

.nextQuestionButton {
  appearance: auto;
  background-color: #000000;
  border: 2px dotted #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: large;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  width: 100%;
  will-change: transform;
}

.nextQuestionButton:disabled {
  pointer-events: none;
}

.nextQuestionButton:hover {
  box-shadow: rgba(252, 251, 251, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.nextQuestionButton:active {
  box-shadow: none;
  transform: translateY(0);
}