ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.btn {
    display: block;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: black;
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    white-space: nowrap;
    background-color: clear;
}

.language-picker {
    display: block;
    position: relative;
    background-color: clear;
}

.language-picker__div .language-picker__form {
    display: none;
}

.language-picker__dropdown {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0%;
    width: 50px;
    background-color: white;
    padding: 5px;
    border-radius: .25em;
    font-size: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .2s, opacity .2s, -webkit-transform .2s ease-out;
    transition: visibility 0s .2s, opacity .2s, transform .2s ease-out;
    transition: visibility 0s .2s, opacity .2s, transform .2s ease-out, -webkit-transform .2s ease-out
}

.language-picker__button[aria-expanded=true]+.language-picker__dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    transition: opacity .2s, -webkit-transform .2s ease-out;
    transition: opacity .2s, transform .2s ease-out;
    transition: opacity .2s, transform .2s ease-out, -webkit-transform .2s ease-out
}

.language-picker__item {
    text-decoration: none;
    padding: .5em 2em .5em 1.25em;
    color: #313135;
}

.language-picker__item span {
    white-space: nowrap;
    overflow: hidden;
    background-color: clear;
}

.language-picker__item[aria-selected=true] {
    position: relative;
    background-color: #2a6df4;
    color: #fff;
}

.language-picker__flag {
    display: block;
    align-items: center
}

.language-picker__flag::before {
    display: inline-block;
    content: '';
    height: 16px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: clear;
}

.language-picker__flag--deutsch::before {
    background-image: url(../images/flags/german_flag.png)
}

.language-picker__flag--english::before {
    background-image: url(../images/flags/english_flag.png)
}

.language-picker__flag--francais::before {
    background-image: url(../images/flags/french_flag.png)
}

.language-picker__flag--italiano::before {
    background-image: url(../images/flags/italian_flag.png)
}

.language-picker__flag--spanish::before {
    background-image: url(../images/flags/spanish_flag.png)
}

.language-picker__flag--portugues::before {
    background-image: url(../images/flags/brazil_flag.png)
}