.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    /* padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em; */
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
    color: white
}

.questionsSection {
    background-color: #051937;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.buttonsSection {
    background-color: #051937;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}